/*
    Groundswell web site CSS
    CSS Positioning version
    by Bill Weinman
    developed for CSS Positioning course at lynda.com
*/

/* ===== global styles ===== */

body {
    font-family: Georgia, serif;
    background: #bbb url(../images/page_background.jpg);
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 1ex 1em;
}

#outerDiv {
    width: 770px;
    margin: 0 auto;
    background: #fff url(../images/banner.jpg) no-repeat;
}

/* ===== header ===== */

#header {
    height: 110px;
    position: relative;
}
